<form action="/daoru/changshangbeiandaoru/" ENCTYPE="multipart/form-data" method="post">
<p><label for="wenjian_lujing">需要导入的Excel路径：</label>
<input type="file" name="lujing" id="lujing"></p>

<input id="ok" type="submit" value="导入">
</form>
