<%= ext_layout%>
<%= ext_grid("guifan","id","content",
"'id','xuhao','dalei','neirong','fenzhi','kaopingbumen','kaohefangshi'",
       "{
            header: '序号',
            dataIndex: 'xuhao',
            width: 20,
            sortable: true
        },{
            header: '大类',
            dataIndex: 'dalei',
            width: 40,
            sortable: true
        },{
            header: '内容',
            dataIndex: 'neirong',
            width: 400,
            sortable: true
        },{
            header: '分值',
            dataIndex: 'fenzhi',
            width: 40,
            sortable: true
        },{
            header: '考评方式',
            dataIndex: 'kaopingfangshi',
            width: 50,
            sortable: true
        },{
            header: '考评部门',
            dataIndex: 'kaopingbumen',
            width: 60,
            sortable: true
        }",
        
        "25",1224,430,"leixing","规范")%>

<div id="content"></div>
