<%= ext_layout%>
<%= shangpin_ext_grid("shangpin","id","content","'id','shangjia','shangjialeixing','name','leixing','baozhuang','guige','danzhong','shanghus'",
       "{
            header: '上家',
            dataIndex: 'shangjia',
            width: 90,
            sortable: true
        },{
            header: '上家类型',
            dataIndex: 'shangjialeixing',
            width: 30,
            sortable: true
        },{
            header: '品名',
            dataIndex: 'name',
            width: 80,
            sortable: true
        },{
            header: '品类',
            dataIndex: 'leixing',
            width: 60,
            sortable: true
        },{
            header: '包装',
            dataIndex: 'baozhuang',
            width: 80,
            sortable: true
        },{
            header: '规格',
            dataIndex: 'guige',
            width: 80,
            sortable: true
        },{
            header: '单重',
            dataIndex: 'danzhong',
            width: 80,
            sortable: true
        }","25",1224,430,"shanghus","商品")%>

<div id="content"></div>
