<%= ext_layout%>
<%= shangjia_ext_grid("changshang","id","content","'id','name','dizhi','leixing','zhizhao','shengchanxuke','fangyi','yangzhi','zhonghes'",
       "{
            header: '厂名',
            dataIndex: 'name',
            width: 60,
            sortable: true
        },{
            header: '地址',
            dataIndex: 'dizhi',
            width: 50,
            sortable: true
        },{
            header: '类型',
            dataIndex: 'leixing',
            width: 30,
            sortable: true
        },{
            header: '执照有效期',
            dataIndex: 'zhizhao',
            width: 70,
            sortable: true
        },{
            header: '生产许可有效期',
            dataIndex: 'shengchanxuke',
            width: 70,
            sortable: true
        },{
            header: '动物防疫证有效期',
            dataIndex: 'fangyi',
            width: 70,
            sortable: true
        },{
            header: '养殖证有效期',
            dataIndex: 'yangzhi',
            width: 70,
            sortable: true
        }","25",1224,430,"zhonghes","厂商")%>

<div id="content"></div>
