<%= ext_layout%>
<%= shangjia_ext_grid("xiaozuofang","id","content","'id','name','dizhi','lianxidianhua','leixing','zhonghes'",
       "{
            header: '小作坊名',
            dataIndex: 'name',
            width: 30,
            sortable: true
        },{
            header: '地址',
            dataIndex: 'dizhi',
            width: 50,
            sortable: true
        },{
            header: '联系电话',
            dataIndex: 'lianxidianhua',
            width: 40,
            sortable: true
        },{
            header: '类型',
            dataIndex: 'leixing',
            width: 30,
            sortable: true
        },","25",1224,430,"zhonghes","小作坊")%>

<div id="content"></div>