<%= ext_layout%>
<%= shanghu_ext_grid("shanghu","id","content","'id','tanweihao','zihao','fuzeren','dianhua','leixing'",
       "{
            header: '摊位号',
            dataIndex: 'tanweihao',
            width: 90,
            sortable: true
        },{
            header: '字号',
            dataIndex: 'zihao',
            width: 30,
            sortable: true
        },{
            header: '负责人',
            dataIndex: 'fuzeren',
            width: 80,
            sortable: true
        },{
            header: '电话',
            dataIndex: 'dianhua',
            width: 60,
            sortable: true
        },{
            header: '商品类型',
            dataIndex: 'leixing',
            width: 80,
            sortable: true
        }","25",1224,430,"leixing","商户")%>

<div id="content"></div>
