
	html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
    }
	.x-panel-body p {
	    margin:5px;
	}
    .x-column-layout-ct .x-panel {
        margin-bottom:5px;
    }
    .x-column-layout-ct .x-panel-dd-spacer {
        margin-bottom:5px;
    }
    .settings {
        background-image:url(../shared/icons/fam/folder_wrench.png) !important;
    }
    .nav {
        background-image:url(../shared/icons/fam/folder_go.png) !important;
    }
    
    
    /*增加删除按钮*/
    .add {
            background-image:url(add.gif) !important;
        }

    .remove {
            background-image:url(delete.gif) !important;
        }
            .view {
            background-image:url(view.jpg) !important;
        }
                    .beian {
            background-image:url(beian.jpg) !important;
        }