<%= ext_layout%>
<%= shangjia_ext_grid("gongyingshang","id","content","'id','name','dizhi','leixing','zhizhao','liutong','zhonghes'",
       "{
            header: '供应商名',
            dataIndex: 'name',
            width: 60,
            sortable: true
        },{
            header: '地址',
            dataIndex: 'dizhi',
            width: 50,
            sortable: true
        },{
            header: '类型',
            dataIndex: 'leixing',
            width: 30,
            sortable: true
        },{
            header: '执照有效期',
            dataIndex: 'zhizhao',
            width: 70,
            sortable: true
        },{
            header: '食品流通许可证有效期',
            dataIndex: 'liutong',
            width: 70,
            sortable: true
        }","25",1224,430,"zhonghes","供应商")%>

<div id="content"></div>
